@import "tailwindcss";

@import "./_fonts";
@import "./_main";

@theme {
  --font-sans-display-bold: 'VNM Sans Display Bold', var(--font-sans);
  --font-sans-display: 'VNM Sans Display', var(--font-sans);
  --font-sans-std: 'VNM Sans Std', var(--font-sans);

  --color-vnm: #0213b0;
  --color-main: #fffff1;
  --color-white: #fffff1;
  --color-note: #8c8c8c;
}
